@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.main_img{
    background-image: url(img.jpg);
    background-size: cover;
    height: 75vh;

}